<nav class="navbar">
  <a href="#"><div class="logo">LF</div></a>
  
  <!-- Botón hamburguesa (solo visible en móvil) -->
  <button 
    class="menu-toggle" 
    (click)="toggleMenu()"
    [attr.aria-expanded]="menuAbierto"
    [attr.aria-controls]="'main-menu'"
    aria-label="Toggle navigation menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  
  <!-- Menú de navegación -->
  <ul 
    class="nav-links" 
    [class.active]="menuAbierto"
    id="main-menu"
    [attr.aria-hidden]="!menuAbierto">
    <!-- Links visibles para todos -->
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/caracteristicas">Maquina</a></li>
    <li><a routerLink="/compra">Comprar</a></li>

    <!-- Solo si NO está logueado -->
    @if ( !authService.estaLogueado()) {
    <li >
      <a routerLink="/login">Iniciar Sesión</a>
    </li>
    }

    <!-- Solo si es admin -->
    @if (authService.esAdmin()) {
    <li>
      <a routerLink="/admin">Admin</a>
    </li>
    }

    <!-- Cerrar sesión visible solo si está logueado -->
    @if (authService.estaLogueado()) {
        <li>
      <a (click)="authService.logout()" style="cursor:pointer">Cerrar Sesión</a>
    </li>
  }

  </ul>
</nav>
