/*Quitamos los margenes que puedan haber*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Alinea elementos a los extremos opuestos */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #ffffff;
    padding: 10px 50px;
    box-shadow: 0 2px 4px gray;
}

.logo {
    color: #556b2f; /* El color verde oscuro de la imagen */
    font-weight: bold;
    font-size: 24px;
}

.nav-links {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Muestra los elementos de la lista en línea horizontal */
}

.nav-links li a {
    color: #556b2f;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    padding: 10px 20px;
    display: block; /* Hace que el área clicable sea todo el padding */
}
