* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f7eb;
  padding: 20px;
}

.container {
  max-width: 700px;
  justify-self: center;
}

.form-section {
  background-color: #e8e8ee;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  color: #6b6b00;
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #333;
  font-size: 14px;
  margin-bottom: 40px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr; // crea dos columnas que ocupan el 50% del espacio cada una
  gap: 30px; // meter espacio entre las columnas y filas cuando usamos grid
  margin-bottom: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  color: #333;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

input {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  color: #666;
}

.price-section {
  text-align: center;
  margin: 40px;
}

.price-label {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.price-value {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.btn-comprar {
  display: block;
  width: 250px;
  justify-self: center;
  padding: 15px;
  background-color: #6b7a00;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-comprar:hover {
  background-color: #5a6600;
}

.info-section {
  display: grid;
  grid-template-columns: 1fr 1fr; // crea dos columnas que ocupan el 50% del espacio cada una
  gap: 30px; // meter espacio entre las columnas y filas cuando usamos grid
  margin-top: 30px;
}

.image-container {
  border-radius: 8px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.text-box {
  background-color: #e8dfc4;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.text-box p {
  color: #6b6b00;
  font-size: 14px;
  text-align: center;
}
