//variables
$blanco: #f9f7eb;
$gris: #e8e8ee;
$verde: #6b6b00;
$negro: #333;
$textoInput: #666;
$botonComprar:#6b7a00;
$botonComprarHover:#5a6600;
$fondoTextoAgradecer: #e8dfc4;

* {
  margin: 0;
  padding: 0;
}

form {
  background-color: $blanco;
  padding: 20px;
}

.container {
  max-width: 700px;
  justify-self: center;
}

.formulario {
  background-color: $gris;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  color: $verde;
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: $negro;
  font-size: 14px;
  margin-bottom: 40px;
}

.fila {
  display: grid;
  grid-template-columns: 1fr 1fr; // crea dos columnas que ocupan el 50% del espacio cada una
  gap: 30px; // meter espacio entre las columnas y filas cuando usamos grid
  margin-bottom: 25px;
}

.rellenar {
  display: flex;
  flex-direction: column;
}

label {
  color: $negro;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

input {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: $textoInput;
}

.precioSeccion {
  text-align: center;
  margin: 40px;
}

.precioLabel {
  color: $negro;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.precioTotal {
  color: $negro;
  font-size: 24px;
  font-weight: bold;
}

.comprar {
  display: block;
  width: 250px;
  justify-self: center;
  padding: 15px;
  background-color: $botonComprar;
  color: $blanco;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.comprar:hover {
  background-color: $botonComprarHover;
}

.informacion {
  display: grid;
  grid-template-columns: 1fr 1fr; // crea dos columnas que ocupan el 50% del espacio cada una
  gap: 30px; // meter espacio entre las columnas y filas cuando usamos grid
  margin-top: 30px;
}

.imagenCompra {
  border-radius: 8px;
  overflow: hidden;
}

.imagenCompra img {
  width: 100%;
  height: 100%;
}

.textoAgradecer {
  background-color: $fondoTextoAgradecer;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.textoAgradecer p {
  color: $verde;
  font-size: 14px;
  text-align: center;
}
