$colorVerde: #637402;
$colorFooter: #E4D7AA;
$centro: center;
$derecha: right;
$normal: normal;


* {
  font-family: Cambria;
  font-weight: $normal;
}

footer {
  margin: -8px;
  background-color: $colorFooter;

}

div {
  height: 300px;
}

h1, h2 {
  color: $colorVerde;
  margin-left: 120px;
}

h3 {
  text-align: $centro;
  margin-top: 100px;
}

hr {
  margin-left: 100px;
  width: 400px;
}

img {
  width: 50px;
  height: 50px;
  float: $derecha;
  margin-right: 20px;
  margin-top: -40px;
  border-radius: 5px;
}


/*Resolucion movil*/

@media (max-width: 768px) {
  h1, h2 {
    margin-left: 0;
    text-align: $centro;
  }

  hr {
    margin: 20px auto;
    width: 80%;
  }

  footer div {
    text-align: $centro;
  }

  img {
    float: none;
    display: inline-block; //Para que las imagenes esten en línea
    margin: 10px 5px;
    margin-top: 10px;
  }

  h3 {
    margin-top: 30px;
  }

  div {
    height: auto;
    padding-bottom: 20px;
  }
}
