$colorVerde: #637402;
$colorFooter: #E4D7AA;
$centro: center;
$derecha: right;
$normal: normal;


* {
  font-family: Cambria;
  font-weight: $normal;
}

footer {
  margin: -8px;
}

div {
  height: 300px;
}

h1, h2 {
  color: $colorVerde;
  margin-left: 120px;
}

h3 {
  text-align: $centro;
  margin-top: 100px;
}

hr {
  margin-left: 100px;
  width: 400px;
}

img {
  width: 50px;
  height: 50px;
  float: $derecha;
  margin-right: 20px;
  margin-top: -40px;
  border-radius: 5px;
}


footer {
  background-color: $colorFooter;
}
