<footer>

  <div>

    <br>

    <h1>Learning Factory</h1>

    <hr>

    <h2>Da una segunda vida a tu plástico</h2>

    <a href="https://www.facebook.com">
      <img src="/img/facebook.png" alt="facebook">
    </a>

    <a href="https://www.twitter.com">
      <img src="/img/twitter.png" alt="twitter">
    </a>

    <a href="https://www.instagram.com">
      <img src="/img/instagram.png" alt="instagram">
    </a>

    <h3>© 2026 Learning Factory. Todos los derechos reservados.</h3>

  </div>

</footer>
