.login {
  width: 40%;
  margin: 50px;
}

.titulo, .subtitulo {
  text-align: center;
}

.titulo {
  color: #637402;
}

.registro {
  color: #637402;
  font-weight: bold;
}

form {
  margin-left: 93px;
}

.boton {
  margin-left: 17%;
  margin-top: 50px;
  width: 50%;
}

#email, #password {
  width: 80%;

}


