<div class="contenedor">
  <div class="login">
    <h1 class="titulo">Registro</h1>
    <p class="subtitulo">Ingresa tus datos para poder registrarte en nuestra página web.</p>

    <form action="/action_page.php">
      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Primer nombre</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="userX.nombre" placeholder="Ingresa tu primer nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" name="apellido" [(ngModel)]="userX.apellido" placeholder="Ingresa tu apellido" required>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Dirección de correo electrónico</label>
        <input type="email" id="email" name="email" [(ngModel)]="userX.correoElectronico" placeholder="Ingresa tu correo electrónico" required>
      </div>

      <div class="form-group">
        <label for="telefono">Número de teléfono</label>
        <input type="tel" id="telefono" name="telefono" [(ngModel)]="userX.telefono" placeholder="Ingresa tu número de teléfono" required>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" [(ngModel)]="userX.password" placeholder="Ingresa tu contraseña" required>
        <p class="info">La contraseña debe contener un mínimo de 8 caracteres con letras, números y caracteres especiales.</p>
      </div>

      <a href="/login" routerLink="/login" class="registro">¿Ya tienes cuenta? Inicia sesión</a>

      <button class="boton" type="submit" (click)="alta()">Registrarse</button>
    </form>
  </div>
</div>
